<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forever.server.auth.SysUserMapper">

    <select id="findByUsername" resultType="com.forever.server.auth.SysUser">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>

    <select id="findById" resultType="com.forever.server.auth.SysUser">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

    <select id="findByIds" resultType="com.forever.server.auth.SysUser">
        SELECT * FROM sys_user WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*) FROM sys_user
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, nickname)
        VALUES (#{username}, #{password}, #{nickname})
    </insert>

    <select id="listAll" resultType="com.forever.server.auth.SysUser">
        SELECT * FROM sys_user ORDER BY id
    </select>

    <update id="updateStatus">
        UPDATE sys_user SET status = #{status} WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE sys_user SET password = #{password} WHERE id = #{id}
    </update>

    <update id="updateProfile">
        UPDATE sys_user SET nickname = #{nickname}, email = #{email}, site = #{site} WHERE id = #{id}
    </update>

    <update id="updateAvatarUrl">
        UPDATE sys_user SET avatar_url = #{avatarUrl} WHERE id = #{id}
    </update>
</mapper>
